/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

/* HEADER */

header {
    height: 70px;
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 40px;
}

/* MAIN */

main {
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

main section {
    padding: 0 50px;
}

section#buttons {
    padding-top: 12px;
    padding-bottom: 9px;
    border-bottom: 2px solid #f6f8f9;
}

section#buttons button {
    border: 1px solid #c4cbd8;
    background-color: #ffffff;
    padding: 8px 10px;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
}

section#buttons button:hover {
    background-color: red;
    border-color: red;
}

section#buttons button.new-task {
    background-color: #14aaf5;
    border-color: #14aaf5;
}

section#buttons button.new-task:hover {
    background-color: red;
    border-color: red;    
}

section#tasks {
    padding-top: 30px;
    padding-bottom: 40px;
}

section#tasks h3::before {
    content: '\25be';
    margin-right: 5px;
    display: inline-block;
    font-size: 14px;
}

/* New Task */

section#tasks .tasks li {
    margin-bottom: 5px;
}

section#tasks .tasks .label {
    display: inline-block;
}

section#tasks .tasks .status {
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 18px;
    font-size: 12px;
}

section#tasks .tasks .status.check {
    border-color: green;
    color: green;
}

section#tasks .tasks .status.cross {
    border-color: red;
    color: red;
}

section#tasks .tasks .label {
    background-color: gray;
    padding: 7px 10px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
}

section#tasks .tasks .label.editorial {
    background-color: #09a9ed;
}

section#tasks .tasks .label.recruting {
    background-color: #2cc6ab;
}

/* Today */

section#tasks .today li {
    margin-bottom: 5px;
}

section#tasks .today .label {
    display: inline-block;
}

section#tasks .today .status {
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 18px;
    font-size: 12px;
}

section#tasks .today .status.check {
    border-color: green;
    color: green;
}

section#tasks .today .status.cross {
    border-color: red;
    color: red;
}

section#tasks .today .label {
    background-color: gray;
    padding: 7px 10px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
}

section#tasks .today .label.editorial {
    background-color: #09a9ed;
}

section#tasks .today .label.q1-goals {
    background-color: rgb(204, 29, 204);
}

section#tasks .today .label.recruting {
    background-color: #2cc6ab;
}

section#tasks .today .label.mobile {
    background-color: orange;
}